* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: 18rem;
}
h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}
.article__header,
.article__content {
  max-width: 1000rem;
  margin: 0 auto;
  padding: 64rem 48rem;
}
.backlink {
  color: #5c5c66;
  padding: 3rem 6rem;
  font-weight: 500;
  transition: color ease 0.6s;
}
.backlink::before {
  content: '← ';
}
.backlink:hover {
  color: #0909b3;
}
.article__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 12rem 0;
}
.article__tag {
  font-size: 13rem;
  border-radius: 30rem;
  border: 1rem solid #f4f4f4;
  padding: 6rem 14rem;
  color: #5c5c66;
  background-color: #f4f4f4;
}
.article__title {
  font-size: 64rem;
  margin: 32rem 0 16rem;
}
.article__lead {
  font-size: 26rem;
  line-height: 1.5;
  max-width: 700rem;
  color: #5c5c66;
}
.article__content--image {
  width: 100%;
  border-radius: 18rem;
  max-width: 720rem;
  display: block;
  margin: 0 auto;
}
img + .article__content--header {
  margin-top: 128rem;
}
.article__content--header {
  font-size: 32rem;
  margin: 48rem 0 16rem;
}
.article__content--text,
.article__content--list {
  line-height: 1.6;
}
.article__content--list {
  list-style-type: square;
  margin-left: 20rem;
}
